:where(.vicinity-page, .vicinity-page *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.vicinity-page {
    background-color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.vicinity-page .vl1 {
    height: 50px;
    width: 2px;
    background-color:  rgb(237, 237, 237);
    border: none;
    margin-top: 5px;
}
@media (max-width: 1059px) {.vicinity-page .staff-container {
    border: 1px solid #ccc;
    max-width: 550px;
    width: 60%; /* adjust width for 2 per row */
    min-width: 400px;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
}
}
.vicinity-page .maps-section {
    padding: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.vicinity-page .maps-container {
    width: 100%;
    max-width: 1000px;
}
.vicinity-page .maps-container iframe {
    width: 100%;
}
@media (max-width: 768px) {.vicinity-page .maps-container iframe {
        height: 360px;
    }
}
